* {
  --primary: #fd8d14;
  --secondary: #004225;
  --tertiary: #f5f5dc;
  --size_s: 0.5rem;
  --size_m: 1rem;
  --size_l: 1.5rem;
  --size_xl: 2rem;
  --button_height: 48px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
}
a {
  text-decoration: none;
  color: var(--tertiary);
}
p {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary);
  width: 100vw;
  height: 60px;
}
.navbar_button_field {
  display: flex;
  align-items: center;
  padding: var(--size_m);
  gap: var(--size_s);
}
.navbar_button {
  background-color: var(--secondary);
  border: none;
  color: var(--tertiary);
  padding: var(--size_m);
  height: var(--button_height);
  border-radius: var(--size_s);
  text-align: center;
  text-decoration: none;
  font-size: var(--size_m);
  cursor: pointer;
}
.navbar_button:hover {
  box-shadow: 0 0 10px var(--tertiary);
}
.navbar_button:active {
  box-shadow: inset 0 0 10px var(--tertiary);
}
.food_create_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.food_form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.input_checkbox_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_checkbox {
  width: var(--size_m);
  height: var(--size_m);
}


/* Style for the search container */
.search-container {
  display: flex;
  align-items: center;
}

/* Style for the search bar */
#search-bar {
  padding: 8px;
  border: 1px solid #004225;
  border-radius: 4px;
  margin-right: 5px;
  color: #004225;
}

/* Style for the search button */
.search-btn {
  padding: 8px 15px;
  border: 1px solid #004225;
  border-radius: 4px;
  background-color: #FD8D14;
  cursor: pointer;
  color: #004225;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  color: #004225;
}

/* Style for the dropdown button */
.dropbtn {
  padding: 8px 15px;
  border: 1px solid #004225;
  border-radius: 4px;
  background-color: #FD8D14;
  cursor: pointer;
  color: #004225;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for dropdown links */
.dropdown-content a {
  color: #004225;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #F5F5DC;
}