{% extends 'index.html' %} {% block content %}
<section class="food_create_section">
  <form id="food_form" class="food_form">
    <input class="input_text" type="text" name="name" placeholder="Name" />
    <input class="input_text" type="text" name="price" placeholder="Price" />
    <div class="input_checkbox_wrapper">
      <p>Is halal?</p>
      <input
        class="input_checkbox"
        type="checkbox"
        name="Halal"
        placeholder="Halal"
      />
    </div>
    <div class="input_checkbox_wrapper">
      <p>Is vegan?</p>
      <input
        class="input_checkbox"
        type="checkbox"
        name="Vegan"
        placeholder="Vegan"
      />
    </div>
    <div class="input_checkbox_wrapper">
      <p>Is vegatarian?</p>
      <input
        class="input_checkbox"
        type="checkbox"
        name="Vegetarian"
        placeholder="Vegatarian"
      />
    </div>
    <div class="input_checkbox_wrapper">
      <p>Is gluten free?</p>
      <input
        class="input_checkbox"
        type="checkbox"
        name="gluten"
        placeholder="Gluten"
      />
    </div>
    <div class="input_checkbox_wrapper">
      <p>Is pescatarian?</p>
      <input
        class="input_checkbox"
        type="checkbox"
        name="Pescatarian"
        placeholder="Pescatarian"
      />
    </div>
    <input
      id="food_send"
      class="secondary_button"
      type="submit"
      value="Create"
    />
  </form>
  <div id="food_create_message" class="food_create_message">
    <p id="food_create_message_text" class="food_create_message_text"></p>
  </div>
</section>
{% endblock %}
