{% extends 'index.html' %} {% block content %}
<div class="search-container">
  <div class="sub-container">
    <div class="search-bar-container">
      <input
        type="text"
        placeholder="Search food..."
        id="foodname"
        class="foodname"
      />
      <div class="dropdown">
        <button class="secondary_button">When</button>
        <div class="dropdown-content">
          <a href="#">Now</a>
          <a href="#">1 hour later</a>
          <a href="#">Tomorrow</a>
        </div>
      </div>
      <button onclick="getAllFoods()" type="submit" class="secondary_button">
        Search
      </button>
    </div>
    <div id="food_list" class="food_list"></div>
  </div>
</div>

{% endblock %}
