<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../frontend/static/style.css"
    />
    <link
      rel="icon"
      href="../../frontend/static/favicon.ico"
      type="image/x-icon"
    />
    <title>Food App</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar_button_field _left">
        <button class="primary_button">
          <a href="/">Home</a>
        </button>
        <button class="primary_button">
          <a href="/createfood">Create Food</a>
        </button>
        <button class="primary_button">
          <a href="/foodsearch">Food Search</a>
        </button>
      </div>
      <div class="navbar_button_field _right">
        <button class="primary_button">
          <a href="/login">Login</a>
        </button>
        <button class="primary_button">
          <a href="/register">Register</a>
        </button>
      </div>
    </div>

    {% block content %}{% endblock %}
    <script src="../../frontend/static/script.js"></script>
  </body>
</html>
